<div class="row marketing">


  <div class="panel panel-default">
    <div class="panel-body">
      <h2><%= @list.name %></h2>
    </div>
    <div class="panel-footer">
      <p>생성일 : <%= @list.created_at.strftime '%F' %></p>
      <p><%= @list.description %></p>
    </div>
  </div>


  <ul class="list-group">
    <% @list.choices.each do |choice| %>
        <%= form_for choice, url: vote_list_choice_path(list_id: @list.id, choice: choice), remote: true, method: :post do |f| %>
            <button class="list-group-item <% if current_user.choices.include? choice %>active<% end %>"><%= choice.name %></button>
            <%= f.submit choice.name, class: 'hidden'%>
        <% end %>
    <% end %>
  </ul>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>댓글</h4>
    </div>
    <div class="panel-body">
      <% if @list.comments.empty? %>
          이런 아직 댓글이 없어요 : (
      <% else %>
        <% @list.comments.each do |comment| %>
          <div class="col-lg-6">
            <h4><%= comment.user&.email %> </h4>
            <p><%= comment.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= render 'comments/new', :locals => {:comment => @comment, :list => @list} %>
    </div>
  </div>

</div>